//ANIMATIONS


//EXPAND-MENU is used in file:
//--- src/components/__components.scss
@keyframes expand-menu {
    from { clip-path: circle(0% at 100% 0%); }
    to { clip-path: circle(150% at 100% 0%); }
}

//POP-IN is used in files:
//--- src/components/__components.scss
@keyframes pop-in {
    0% { opacity: 0; transform: translateY(-10px) scale(0.95); }
    100% { opacity: 1; transform: translateY(0) scale(1); }
}

//FADE-IN is used in files:
//--- src/styles/_pages.scss
@keyframes fade-in {
    to {scale: 1; opacity: 1;}
}

//HORIZONTAL-SCROLLER is used in files:
//--- src/styles/_pages.scss
@keyframes horizontal-scroller {
    from {  transform: translatex(50%); }
    to { transform: translatex(-50%); }
}

//MIXINGS for the animations
@mixin fade-in ($range) {
    scale: .8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: $range;
}
@mixin pop-in($duration: 0.4s, $easing: cubic-bezier(0.25, 1, 0.5, 1)) {
    animation: pop-in $duration $easing forwards;
}