@import './colors.scss';
@import './fonts.scss';
@import './general.scss';
@import './helpers.scss';

.formContainer {
    @include displayFlex(column wrap, flex-start, flex-start);
    // width: 100%;
    height: 100%;
    gap: 20px;
    background-color: #ececec;
    padding: 10px 10px;
    border-radius: 15px;

    .formHeader {
        @include displayFlex(row wrap, space-between, flex-start);
        width: 100%;
    }

    .formBody {
        @include displayFlex(column wrap, flex-start, flex-start);
        gap: 10px;

        .formGroup {
            @include displayFlex(column wrap, flex-start, flex-start);
            gap: 10px;

            .form-field {
                @include displayFlex(column nowrap, flex-start, flex-start);
                gap: 5px;
                // width: 350px;
                width: 90dvw;

                label, input[type="text"], input[type="password"], select {
                    width: 100%
                }
                label {
                    @include font(0.8rem, 300, $color-dark);
                    text-align: start;
                }
                input[type="text"], input[type="password"], select {
                    @include font(1rem, 300, $color-dark);
                    padding: 15px 5px;
                    border-radius: 5px;
                    border: none;
                }

                .commentsContainer {
                    @include displayFlex(row nowrap, space-between, center);
                    gap: 10px;
                    width: 100%;

                    .buttonIcon {
                        background-color: $color-background;
                        padding: 15px;
                        border-radius: 5px;
                        // height: 100%;
                    }

                    .buttonsContainer {
                        @include displayFlex(row nowrap, center, center);
                        gap: 10px;
                    }
                }

                .commentsList {
                    @include displayFlex(column nowrap, center, center);
                    gap: 15px;
                    width: 100%;
                    margin: 10px 0;

                    .commentsContainer {
                        align-items: flex-start;
                    }
                }
            }
        }
    }

    .formFooter {
        width: 100%;

        .error-message {
            @include font(0.8rem, 300, $color-dark);
        }

        .button {
            @include displayFlex(column nowrap, center, center);
            @include button($color-background, $color-dark);
            @include hoverPointer();
            width: 100%;
            padding: 15px 0;
            margin-top: 10px;
        }
    }

    @media (min-width: 810px) {
        max-height: 650px;
        gap: 20px;
        padding: 30px 30px;
        border-radius: 35px;

        .formBody {
            @include displayFlex(row wrap, flex-start, flex-start);
            gap: 30px;
            .formGroup {
                @include displayFlex(column wrap, flex-start, flex-start);
                gap: 10px;
                .form-field {
                    width: 350px;
                }
            }

            @media (min-width: 950px ) {
                :nth-child(even) {
                    .form-field {
                        width: 450px;
                    }
                }
            }
        }

        .formFooter {
            width: 100%;
            .button {
                width: 100%;
            }
        }
    }
}

.filter-bar-container {
    @include displayFlex(row nowrap, space-between, flex-end);
    width: 100%;
    max-width: 500px;

    .filter-bar {
        @include displayFlex(row nowrap, space-between, flex-end);
        gap: 10px;
        width:100%;

        .form-field {
            @include displayFlex(row nowrap, flex-start, center);
            gap: 10px;
            width: 100%;
            label {
                @include displayFlex(row, center, center);
                @include font(0.8rem, 300, $color-dark);
                width: 30px;
                height: 30px;
            }
            input[type="text"] {
                width: 100%;
            }
            input[type="text"], select {
                @include font(1rem, 300, $color-dark);
                padding: 15px 5px;
                border-radius: 5px;
                border: none;
            }
            .icon {
                height: 20px;
                width: 20px;
            }
        }
        :nth-child(2) {
            width: 60px;
        }
    }
}