@import './colors.scss';
@import './fonts.scss';
@import './general.scss';
@import './helpers.scss';

.page {
    // page class layouts the entire page with column direction
    @include displayFlex(column nowrap, center, center);
    gap: 100px;
    width: 100%;
    height: 100%;
    .bold {
        font-weight: 800 !important;
    }
}

// LAYOUT HERO - BIG TITLE
.page {

    .hero {
        min-height: calc(100dvh - 250px);
    }
    .layout-big-title {
        @include displayFlex(column wrap, space-between, center);
        gap: 20px;
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
        padding: 60px 20px 60px 20px;

        .intro-text {
            width: 100%;
            max-width: 900px;
            gap: 20px;

            .name-tag {
                @include font(14px, 400, $color-dark);
                text-align: start;
                width: 100%;
            }

            .description-container {
                @include displayFlex(column wrap, flex-start, flex-start);
                gap: 10px;
                width: 100%;
                max-width: 900px;
                .description-tag {
                    @include displayFlex(row wrap, flex-start, center);
                    @include font(14px, 400, $color-dark);
                }
                .hover {
                    @include hoverPointer();
                    gap: 10px;
                    .dot {
                        display: none;
                        background-color: $color-secondary;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                    .contact {
                        @include font(12px, 600, $color-secondary);
                        display: none;
                    }
                    &:hover {
                        @include font(12px, 600, $color-secondary);
                        text-decoration: underline;
                        .dot {
                            display: block;
                        }
                    }
                }
            }
        }
        .title-tag {
            @include font(4rem, 800, $color-dark);
            line-break:strict;
            text-align: end;
            line-height: 3.5rem;
            width: 100%;
            max-width: 900px;
            .color {
                color: $color-secondary;
            }
        }
    }

    @media (min-width: 430px) {
        .title-tag {
            @include font(6rem, 800, $color-dark);
            line-height: 5.5rem;
        }
    }
}

// LAYOUT HERO - BIG CARD
.page {
    .layout-big-card {
        width: 90%;
        max-width: 900px;
        padding: 40px;
        margin-top: -110px;
        border: none;
        border-radius: 20px;
        background-color: $color-background;
        filter: drop-shadow(0px -1px 16px #00000020);

        @include fade-in(entry 150px);

        .items-container {
            justify-content: space-between;
            height: 100%;
            width: 100%;
            gap: 20px;
            .item {
                flex-grow: 1;
                height: 100%;
                gap: 10px;
                .img {
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                    max-height: 400px;
                    border-radius: 15px;
                    background-color: $color-light;
                }
            }
            :nth-child(2) {
                flex-grow: 2;
            }
        }
    }

}

// LAYOUT BENTO - text & boxes container
.page {
    .layout-bento {
        gap: 30px;
        padding: 0 10px;
        .text-boxes-container {
            gap: 20px;
            @include fade-in(entry 150px);
            .text-container {
                gap: 10px;
                width:100%;
                max-width: 400px;
            }
            .boxes-container {
                flex-flow: row nowrap;
                gap: 20px;
                .box {
                    position: relative;
                    width: 165px;
                    height: 165px;
                    border-radius: 10px;
                    background-color: $color-background;
                    padding: 20px;
                    .icon {
                        position: absolute;
                        display: block;
                        top: 10px;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background-color: $color-secondary;
                    }
                    .top-right {
                        right: 10px;
                    }
                    .top-left {
                        left: 10px;
                    }
                }
                .box-large {
                    width: calc(100dvw - 20px);
                    max-width: 480px;
                }
            }
        }
    }

    @media (min-width: 560px) {
        .layout-bento {
            gap: 20px;
            width: 90%;
            max-width: 900px;
            .text-boxes-container {
                gap: 20px;
                @include fade-in(50px 600px);
                .boxes-container {
                    gap: 20px;
                    .box {
                        width: 230px;
                        height: 230px;
                        border-radius: 20px;

                        .icon {
                            position: absolute;
                            display: block;
                            top: 20px;
                            width: 70px;
                            height: 70px;
                        }
                        .top-right {
                            right: 20px;
                        }
                        .top-left {
                            left: 20px;
                        }
                    }

                    .box-large {
                        width: 480px;
                    }
                }
            }
        }
    }
    @media (min-width: 820px) {
        .layout-bento {
            .text-boxes-container {
                flex-flow: row nowrap;
                .text-container {
                    // width:100%;
                    max-width: 400px;
                }
                .boxes-container {
                    .box {
                        width: 230px;
                        height: 230px;
                    }
                    .box-large {
                        width: 480px;
                    }
                }
            }
        }
    }

}

@media (prefers-reduced-motion: no-preference) {
    .horizontal-scroller {
        gap: 15px;
        max-width: 90%;
        overflow: hidden;

        -webkit-mask: linear-gradient(
            90 deg,
            transparent,
            white 10%,
            white 90%,
            transparent
        );
        mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);

        .items {
            @include displayFlex(row, center, center);
            gap: 15px;

            .item {
                gap: 15px;
                background-color: $color-background;
                color: $color-dark;
                height: 120px;
                min-width: 120px;
                border-radius: 5px;

                animation: horizontal-scroller linear;
                animation-timeline: scroll(root);

                .logo {
                    width: 60px;
                    height: 60px;
                    object-fit: fit;
                }
                p {
                    @include font(12px, 400, $color-dark);
                }
            }
        }
        :nth-child(even) {
            .item {
                animation-direction: reverse;
            }
        }
    }
}