@import './colors.scss';
@import './fonts.scss';
@import './general.scss';
@import './helpers.scss';

.page {
    // page class layouts the entire page with column direction
    @include displayFlex(column nowrap, center, center);
    gap: 100px;
    width: 100%;
    height: 100%;
    .bold {
        font-weight: 800 !important;
    }
}

//HORIZONTAL SCROLLING in Homepage
@media (prefers-reduced-motion: no-preference) {
    .horizontal-scroller {
        gap: 15px;
        max-width: 90%;
        overflow: hidden;

        -webkit-mask: linear-gradient(
            90 deg,
            transparent,
            white 10%,
            white 90%,
            transparent
        );
        mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);

        .items {
            @include displayFlex(row, center, center);
            gap: 15px;

            .item {
                gap: 15px;
                background-color: $color-background;
                color: $color-dark;
                height: 120px;
                min-width: 120px;
                border-radius: 5px;

                animation: horizontal-scroller linear;
                animation-timeline: scroll(root);

                .logo {
                    width: 60px;
                    height: 60px;
                    object-fit: fit;
                }
                p {
                    @include font(12px, 400, $color-dark);
                }
            }
        }
        :nth-child(even) {
            .item {
                animation-direction: reverse;
            }
        }
    }
}