@import '../../App.scss';

.users-page {
    @include displayFlex(column, flex-start, flex-start);
    gap: 40px;
    padding: 10px;
    min-height: 100dvh;

    .items-container {
        @include displayFlex(column, flex-start, flex-start);
        gap: 10px;
        width: 100%;
        max-width: 500px;

        .item {
            @include displayFlex(row nowrap, space-between, flex-start);
            width: 100%;
            gap: 10px;
            padding: 10px;
            background-color: $color-background;
            border-radius: 5px;

            .text-container {
                @include displayFlex(column, flex-start, flex-start);
                gap: 5px;
            }
            .buttons-container {
                @include displayFlex(column, flex-start, flex-start);
                gap: 5px;
                .icon {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }

    @media (min-width: 800px) {
        width: 500px;
    }
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .formContainer {
        overflow-y: auto;
        scroll-behavior: smooth;
        max-height: 95dvh;
        @include displayFlex(column nowrap, flex-start, center);
    }
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.modal-buttons button {
    margin: 0 10px;
}